<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Code Form </title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
         <link rel="stylesheet" th:href="@{/css/custom.css}"/>
          <link rel="stylesheet" th:href="@{/css/main.css}"/>

    </head>
	<body>
	
		<div>
 	<h1>User Code Edit Form</h1>
 	
	     <form action="#" th:action="@{/editusercode}" th:object="${usercode}" method="post">
	     <input type="hidden"  th:value="${use_cod_id}"  th:field="*{use_cod_id}" />
	     <table>
	      <tr>
			<td width="20%" style="width: 90px; ">User Code Name :</td>				
			<td width="90%" align="left"><input type="text" th:field="*{use_code_name}" /></td>								
		</tr>
	     <tr>
			<td width="10%">User Code Description :</td>				
			<td width="90%" align="left"><input type="text" th:field="*{use_code_desc}" /></td>								
		</tr>
		 <tr>
			<td width="10%">Module name :</td>				
			<td width="90%" align="left"><input type="text" th:field="*{module_name}" /></td>								
		</tr>		 
		

		
	
		
		<tr>
		<td>	</td>
		<td >
	              <input type="submit" value="Edit"/> 
	              
	            </td>
	     </tr>
	        
		</table>
		
		
	    
	     </form>
	     </div>
	</body>
</html>